<!-- Pricing snippet of homepage -->
{% block body %}
<div id="mission-picture" class="container-fluid">
  <br>
  <br>
  <h1 class="text-center">Grow Online Now</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
      <img src="{{ url_for('static', filename = 'img/homepage/dashboard.png') }}" class="img-fluid rounded" style="min-width:40vw ;max-width: 50vw;">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <br>
      <h3 style="margin-left: 5%;">People don’t know have a consistent and inexpensive tool to help manage their social media accounts. Most social media management companies and tools target enterprise.</h3>
    </div>
    <br>
  </div>
  <h4 class="text-center">iBlinkco provides tools to maximize businesses and brands online to help them adapt to the modern world.</h4>
  <br>
  <br>
</div>
{% endblock %}
