<!-- Pricing snippet of homepage -->
{% block body %}
<div id="mission-picture" class="container-fluid">
  <br>
  <br>
  <h1 class="text-center">Grow Online Now</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
      <img src="{{ url_for('homepage.static', filename = 'img/dashboard.png') }}" class="img-fluid rounded" style="min-width:40vw ;max-width: 50vw;">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <br>
      <h4 style="margin-left: 5%;">People don’t have a consistent and inexpensive tool to help manage their social media accounts and not everyone is a tech guru. Most social media management companies and tools target enterprise while iBlinkco is designed for the average person. The iBlinkco Dashboard gives you tips to help maximize your presence on social media, shows your competition in your area as a business, and we give you data on your followers.</h4>
    </div>
    <br>
  </div>
  <h3 class="text-center"><b>iBlinkco provides tools to maximize businesses and brands online to help them adapt to the modern world.</b></h3>
  <br>
  <br>
</div>
{% endblock %}
