<!-- Jinja file including all homepage content -->
{% extends "header.html" %}
{% block content %}
<link href="{{ url_for('dashboard.static', filename = 'css/dashboard.css') }}" rel="stylesheet">
{# DISPLAYING MESSAGES #}

{% if session['setup_complete'] == True %}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
	    	{% for category, message in messages %}
	      		<div class="alert {{ category }}"> {{ message|capitalize }} </div>
	    	{% endfor %}
		{% endif %}
	{% endwith %}
	{# SETTING VARIABLES #}

	{% set totalFollowersCount = 0 %}
	{% if session['userTwitterData'] %}
		{% if session['userTwitterData'][1] %}
			{% set totalFollowersCount = totalFollowersCount + session['userTwitterData'][1]['followers'] %}
		{% endif %}
	{% endif %}

	{% if session['userInstagramData']%}
		{% if session['userInstagramData']['edge_followed_by'] %}
			{% set totalFollowersCount = totalFollowersCount + session['userInstagramData']['edge_followed_by'] %}
		{% endif %}
	{% endif %}

	{% set totalFollowingCount = 0 %}
	{% if session['userTwitterData'] %}
		{% if session['userTwitterData'][1] %}
			{% set totalFollowingCount = totalFollowingCount + session['userTwitterData'][1]['following'] %}
		{% endif %}
	{% endif %}
	{% if session['userInstagramData'] %}
		{% if session['userInstagramData']['edge_follow'] %}
			{% set totalFollowingCount = totalFollowingCount + session['userInstagramData']['edge_follow'] %}
		{% endif %}
	{% endif %}

	<div id="header-bar" class="bg-dark">
		{% if session['userTwitterData'] %}
			<p>
				<span id="header-bar-name"><b>{{ session['userTwitterData'][1]['name'] }}</b></span>
				<span id="header-bar-description">    {{ session['userTwitterData'][1]['description'] }}</span>
			</p>
		{% elif session['userInstagramData'] %}
			<p>
				<span id="header-bar-name"><b>{{ session['userInstagramData']['username'] }}</b></span>
				<span id="header-bar-description">    {{ session['userInstagramData']['biography'] }}</span>
			</p>
		{% endif %}
	</div>
	<div class="row" id="home-row">

		<!-- Sidebar -->
		<div class="col-md-2 col-lg-2 h-auto d-inline-block bg-light fixed-left" id="sidebar-status">
			<div>
				<h5 class="text-center">Status
					<span><a id="status-text" href="#"><img id="sidebar-status-icon" src="{{ url_for('dashboard.static', filename = 'img/info.png') }}"><span id="status-description-text">This status bar is where tips about your social media will be given</span></a></span>
				</h5> 
			</div>
			<hr>
			<div id="tips-div">
				{% if session['tips'] %}
					{% if session['tips'] is defined %}
						{% for tip in session['tips'] %}
						<div class="card tip-card">
							<button type="button" class="close dismiss-tip" data-dismiss="modal" aria-label="Close" onclick="dismissTip(this)">
								<span aria-hidden="true">&times;</span>
							</button>
							<h5>Tip</h5>
							<p>{{ tip }}</p>
						</div>
						{% endfor %}
					{% else %}
						<p>No Tisps</p>
					{% endif %}
				{% endif %}
			</div>
			<hr>
			<div id="connection-div">
				<p class="status-bar-connect-item"><a href="#" data-toggle="modal" data-target="#settings-modal">Settings</a></p>
				<p class="status-bar-connect-item">
					<span>Connected</span>
					{% if session['userInstagramData'] %}
						<span class="status-img"><a href="#"><img src="{{ url_for('dashboard.static', filename = 'img/instagram-logo.png') }}"></a></span>
					{% else %}
						<span class="status-img"><a href="#"><img class="unavalable-logo" src="{{ url_for('dashboard.static', filename = 'img/instagram-logo.png') }}"></a></span>
					{% endif %}
					{% if session['userTwitterData'] %}
						<span class="status-img"><a href="#"><img src="{{ url_for('dashboard.static', filename = 'img/twitter-logo.png') }}"></a></span>
					{% else %}
						<span class="status-img"><a href="#"><img class="unavalable-logo" src="{{ url_for('dashboard.static', filename = 'img/twitter-logo.png') }}"></a></span>
					{% endif %}
				</p>
				<p class="status-bar-connect-item">
					<span>Competition:</span>
					{% if session['competition'] is defined %}
						{% if session['competition']['link'][0] != 'null' %}
							<span class="text-success">True</span>
						{% else %}
							<span class="text-secondary">False</span>
						{% endif %}
					{% else %}
						<span class="text-secondary">False</span>
					{% endif %}
				</p>
				<p class="status-bar-connect-item">
					<span>Website:</span>
					{% if session['websiteData']['website_name'] != '' %}
						<span class="text-success">True</span>
					{% else %}
						<span class="text-secondary">False</span>
					{% endif %}
				</p>
			</div>
			<hr>
			<div id="news" class="text-center">
				<h5>News</h5>
			</div>
			<hr>
		</div>

		{# Settings Modal #}
		<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Settings</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h5>Connected Accounts</h5>
						{% if session['userTwitterData'] %}
							<p>
								<span>Twitter:</span>
								<span class="text-success">
									{{ session['userTwitterData'][1]['username'] }}
								</span>
							</p>
							{# Disconnecting twitter button #}
							<form method="POST" action="{{ url_for('api.disconnectTwitterAPI') }}">
								<button class="btn btn-danger disconnect-button">Disconnect</button>
							</form>
						{% else %}
							<form method="POST" action="{{ url_for('api.connectTwitterAPI') }}"> 
								<p>Twitter:</p>
								<p>
									<input type="text" name="twitter-username" placeholder="Twitter Username">
								</p>
								<input class="btn btn-primary" type="submit" value="Connect">
							</form>
						{% endif %}
						<br>
						<br>
						{% if session['userInstagramData'] %}
							<p>
								<span>Instagram:</span>
								<span class="text-success">
									{{ session['userInstagramData']['username'] }}
								</span>
							</p>
							{# Disconnecting twitter button #}
							<form method="POST" action="{{ url_for('api.disconnectInstagramAPI') }}">
								<button class="btn btn-danger disconnect-button">Disconnect</button>
							</form>
						{% else %}
							<form method="POST" action="{{ url_for('api.connectInstagramAPI') }}"> 
								<p>Instagram:</p>
								<p>
									<input type="text" name="instagram-username" placeholder="Instagram Username">
								</p>
								<input class="btn btn-primary" type="submit" value="Connect">
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- Summary Div-->
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="left-container">
			<div class="card" id="summary">
				<!-- Displaying user data -->
				<h5>{{ session['email'] }}</h5>
				<h6>
					{% if session['userTwitterData'] %}
						{{ session['userTwitterData'][1]['location'] }}
					{% else %}

					{% endif %}
				</h6>
				<h1>Total Followers: {{ totalFollowersCount }}<span><a href="#"><img id="refresh" onclick="location.reload()" src="{{ url_for('dashboard.static', filename = 'img/refresh.png') }}"></a></span></h1>
				<h5>You're Following: {{ totalFollowingCount }}</h5>
				<!-- Followers History -->
				<div id="followers-history-graph">
					<canvas id="followers-history"></canvas>
				</div>
				<div id="graph-data">
					<small>Some Stats</small>
					<p>
						<small id="followers-avg">Avg: {{ session['statistics']['avgFollowers'] }}</small>
						<small class="text-danger" id="followers-min">Min: {{ session['statistics']['minFollowers'] }}</small>
						<small class="text-success" id=followers-max>Max: {{ session['statistics']['maxFollowers'] }}</small>
					</p>

				</div>
				{% if session['niche'] %}
				<p>Your company is a {{ session['niche'] }}</p>
				<p class="expand"><a href="#" onclick="expandSummary()"><ion-icon name="expand"></ion-icon></a></p>
				{% else %}

				{% endif %}
			</div>
			<div class="card" id="competition">
				<h4>Find Competition
					<span><a id="competition-text" href="#"><img src="{{ url_for('dashboard.static', filename = 'img/info.png') }}"><span id="competition-description-text">These are searches that relate to your business. Click show more to view more searches.</span></a></span>
				</h4>
				<p id="find-competition-refresh">
					<a href="#">Show More<img id="refresh-website" src="{{ url_for('dashboard.static', filename = 'img/refresh.png') }}"></a>
				</p>
				<p>Click these links to find other businesses like yours</p>
				{% if session['competition'] is defined %}
					{% if session['competition']['link'][0] != 'null' %}
						<table id="competition-table"></table>
						<button class="btn btn-secondary" id="disconnect-niche-competition">Remove Niche & Competition</button>
						<p class="expand"><a id="expand-competition" onclick="expandCompetition()" href="#"><ion-icon name="expand"></ion-icon></a></p>
					{% else %}
						<form method="POST" id="niche-submit">
							<p>Your company is a <input id="niche-text" type="text" placeholder="Ex: Barbershop"><input id="niche-button" class="btn btn-primary" value="Submit" type="submit" ></p>
						</form>
					{% endif %}
				{% else %}
					<form method="POST" id="niche-submit">
						<p>Your company is a <input id="niche-text" type="text" placeholder="Ex: Barbershop"><input id="niche-button" class="btn btn-primary" value="Submit" type="submit" ></p>
					</form>
				{% endif %}
			</div>
		</div>

		<!-- Stream and Website Divs -->
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="right-container">
			{# Twitter Stream #}
			{% if session['userTwitterData'] %}
				<div class="card stream">
					<h4>Stream Twitter
						<span><a class="stream-text" href="#"><img src="{{ url_for('dashboard.static', filename = 'img/info.png') }}"><span class="stream-description-text">This is what you are saying and posting on all the social media accounts that you've connected</span></a></span>
					</h4>
					{% for tweet in session['userTwitterData'][0] %}
						<div class="card">
							<p class="h6">{{ tweet.tweet }}</p>
							<small><span>{{ tweet.time }}</span></small>
						</div>
					{% endfor %}
				</div>
			{% endif %}

			{# Instagram Stream #}
			{% if session['userInstagramData'] %}
				<div class="card stream">
					<h4>Stream Instagram
						<span><a class="stream-text" href="#"><img src="{{ url_for('dashboard.static', filename = 'img/info.png') }}"><span class="stream-description-text">This is what you are saying and posting on all the social media accounts that you've connected</span></a></span>
					</h4>
					<p><span>Ratings</span><span>Tips</span><span>Success</span></p>
					{% for post in session['userInstagramData']['instagramPosts'] %}
						<br>
						<div class="card">
							<img src="{{ post['pic_url'] }}" class="instagram-stream-img text-center float-center">
							<p>{{ post['caption'] }}</p>	
							<p>{{ post['number_of_likes'] }} Likes</p>
							<p>{{ post['number_of_comments'] }} Comments</p>
						</div>
						<br>
					{% endfor %}
				</div>
			{% endif %}
			<div class="card" id="website">
				<h4>Website
					<span><a id="website-text" href="#"><img src="{{ url_for('dashboard.static', filename = 'img/info.png') }}"><span id="website-description-text">These are possible links of your website found on your homepage.</span></a></span>
				</h4>
				{% if session['websiteData']['website_name'] != '' %}
					<p><strong>{{ session['websiteData']['header-text'] }}</strong></p>
					<p>{{ session['websiteData']['website-name'] }}</p>
					<h6>Your website urls (found on requested page)</h6>
					{% for link in session['websiteData']['links'] %}
						<p>{{ link }}</p>
					{% endfor %}
				{% else %}
					<button class="btn btn-light" data-toggle="modal" data-target="#connect-website">Connect Your Website</button>
				{% endif %}
					<small>Tip: Try having all sections and subsidiaries of your business or brand on your homepage</small>
				{% if session['websiteData']['website_name'] != '' %}
					<button class="btn btn-secondary" id="disconnect-website">Disconnect</button>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- Connect Website  -->
	<div class="modal fade" id="connect-website" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Connect Your Website</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="POST" id="connect-website-form">

						<!-- Website Name -->
						<p>
							<input type="text" id="website-name" name="website-name" placeholder="Website Name">
							<br>
							<small>Ex: MyWebsite</small>
						</p>

						<!-- Url Input -->
						<p>
							<input type="text" id="website-url" name="website-url" placeholder="Website URL">
							<br>
							<small>Ex: https://mywebsite.com or https://instagram/mywebsite </small>
						</p>

						<p><input class="btn btn-primary"type="submit" name="website-url" value="Connect!"></p>
						<p id="connect-website-form-message" class="text-danger"></p>
					</form>
				</div>
			</div>
		</div>
	</div>
{% else %}
	<!-- Setup -->
	<div class="container text-center" id="setup-body">
		<h4>Click Social Media Icons to Connect!</h4>
		<p><a href="#" data-toggle="modal" data-target="#setup-twitter"><img class="social-logo" src="{{ url_for('dashboard.static', filename = 'img/twitter-logo.png') }}"></a>
			<a href="#" data-toggle="modal" data-target="#setup-instagram"><img class="social-logo" src="{{ url_for('dashboard.static', filename = 'img/instagram-logo.png') }}"></a>
			<img class="unavalable-logo social-logo" src="{{ url_for('dashboard.static', filename = 'img/facebook-logo.png') }}">
			<img class="unavalable-logo social-logo" src="{{ url_for('dashboard.static', filename = 'img/snapchat-logo.png') }}">
		</p>
		<form method="POST" action="/setup-update">
			<br>
			<br>
			{% if session['userTwitterData'] %}
				<h4>{{ session['userTwitterData'][1]['username'] }}</h4>
			{% endif %}
			{% if session['userInstagramData'] %}
				<h4>{{ session['userInstagramData']['username'] }}</h4>
			{% endif %}
			{% if session['userTwitterData'] or session['userInstagramData'] %}

			{% else %}
				<p class="text-secondary">Twitter or Instagram Required To Procceed</p>
			
			{% endif %}
			<p><input id="setup-submit" class="btn btn-secondary" required="true" type="submit" value="Go!"></p>
			<p id="setup-form-message" class="text-primary"></p>
		</form>	
	</div>	

	<!-- Instagram Setup  -->
	<div class="modal fade" id="setup-instagram" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Instagram Setup</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="POST" action="/connect-instagram-api">
						<p>Connect your instagram</p>
						<p>
							<input type="text" name="instagram-username" placeholder="Instagram Username">
						</p>
						<input class="btn btn-primary" type="submit" value="Connect">
						<small>Account must be public!</small>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Twitter Setup  -->
	<div class="modal fade" id="setup-twitter" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Twitter Setup</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="POST" action="/connect-twitter-api">
						<p>Connect your twitter</p>
						<p>
							<input type="text" name="twitter-username" placeholder="Twitter Username">
						</p>
						<input class="btn btn-primary" type="submit" value="Connect">
					</form>
				</div>
			</div>
		</div>
	</div>

	<a data-controls-modal="setup-modal" data-backdrop="static" data-keyboard="false" href="#">
{% endif %}
	<script src="{{ url_for('dashboard.static', filename='js/ui.js') }}"></script>
	<script type="text/javascript">
		alert("{{ session['userTwitterData'] }}")
		// Changing setup submit button color
		{% if session['userTwitterData'] %}
			setupSubmit = document.getElementById('setup-submit')
			if(setupSubmit != null){
				setupSubmit.setAttribute('style', 'background-color: #0000EE')
			}
		{% endif %}

	    function history(){
			// Follower graph list
			var dateList = [] ;
			var followerNumberListTwitter = [];
			var followerNumberListInstagram = [];

			{% if session['history'] %}

				{% if session['history']['twitter'] %}
					// Formating twitter data
					if (dateList.length == 0) {
						{% for follower in session['history']['twitter'][0] %}
						follower = '{{ follower }}'
						dateList.push(follower)
						{% endfor %}
					}

					{% for follower in session['history']['twitter'][1] %}
						follower = '{{ follower }}'
						followerNumberListTwitter.push(follower)
					{% endfor %}
				{% endif %}

				{% if session['history']['instagram'] %}
					// Formating instagram data
					if (dateList.length == 0) {
						{% for follower in session['history']['instagram'][0] %}
						follower = '{{ follower }}'
						dateList.push(follower)
						{% endfor %}
					}

					{% for follower in session['history']['instagram'][1] %}
					follower = '{{ follower }}'
					followerNumberListInstagram.push(follower)
					{% endfor %}
				{% endif %}

				// Creating datasets
				var graphDatasets = [];
				{% if session['history']['twitter'] %}
					twitterData = {
						data: followerNumberListTwitter,
						label: "Twitter",
						borderColor: "#28aae1",
						fill: false
					}
					graphDatasets.push(twitterData)
				{% endif %}

				{% if session['history']['instagram'] %}
					instagramData = {
						data: followerNumberListInstagram,
						label: "Instagram",
						borderColor: "#d81dac",
						fill: false
					}
					graphDatasets.push(instagramData)
				{% endif %}

				// Creating graph
				new Chart(document.getElementById("followers-history"), {
					type: 'line',
					data: {
						labels: dateList,
						datasets: graphDatasets
					},
					options: {
						title: {
							display: true,
							text: 'Your Trend of Followers'
						}
					}
				});
			{% endif %}

		}
		history();
		
		function competition(){

			// Defining list variables
			var searchTitleList = [];
			var searchUrlList = [];

			{% if session['competition'] %}
				// Getting data from session
				{% for title in session['competition']['title'] %}
				title = '{{ title }}'
				searchTitleList.push(title)
				{% endfor %}

				{% for url in session['competition']['link'] %}
				url = '{{ url }}'
				searchUrlList.push(url)
				{% endfor %}

				// Putting data in table
				var opperationTable = document.getElementById('competition-table'); 

				var titleRow = document.createElement('tr');


				var titleName = document.createElement('td');
				titleName.innerHTML = "<b>Title</b>";

				var titleUrl = document.createElement('td');
				titleUrl.innerHTML = "<b>Url</b>";

				titleRow.append(titleName)
				titleRow.append(titleUrl)
				opperationTable.appendChild(titleRow)

				for(var i = 0; i < searchTitleList.length; i++){

					// Creating Elements
					var itemRow = document.createElement('tr');
					var itemDataRowName = document.createElement('td');
					var itemDataRowUrl = document.createElement('td');

	          		// Adding content
	          		itemDataRowUrl.innerHTML = "<a href='" + searchUrlList[i] + "' ' target='_blank'> " + searchUrlList[i] + "</a>";
	          		
	          		itemDataRowName.innerHTML = searchTitleList[i];

	          		// Appending content
	          		itemRow.appendChild(itemDataRowName);
	          		itemRow.appendChild(itemDataRowUrl);
	          		opperationTable.appendChild(itemRow);
	          	}
	          	{% endif %}

	    }
	    competition();

		// Expand Competition 
		function expandSummary(){

			// Defining variables
			var summaryDiv = $('#summary');
			var competitionDiv = $('#competition');
			var websiteDiv = $('#website');
			var followersDiv = $('#followers');

			var holderLeftDiv = $("#left-container");
			var followersGraph = $('#followers-history')

			if(competitionDiv.is(":hidden")){
				$("html, body").animate({ scrollTop: 0 }, "slow");
				holderLeftDiv.removeClass("col-xs-12 col-sm-12 col-md-10 col-lg-10");
				holderLeftDiv.toggleClass('col-xs-12 col-sm-12 col-md-5 col-lg-5')
				competitionDiv.show();
				websiteDiv.show();
				followersDiv.show();
			} else {
				$("html, body").animate({ scrollTop: 0 }, "slow");
				
				// Fade out function
				$(competitionDiv).fadeOut( "normal");
				$(websiteDiv).fadeOut( "normal");
				$(followersDiv).fadeOut( "normal");

				// Managing classes
				holderLeftDiv.toggleClass('col-xs-12 col-sm-12 col-md-5 col-lg-5')
				holderLeftDiv.addClass("col-xs-12 col-sm-12 col-md-10 col-lg-10");
			}
		}
		function expandCompetition(){

			// Defining variables
			var summaryDiv = $('#summary');
			var competitionDiv = $('#competition');
			var websiteDiv = $('#website');
			var followersDiv = $('#followers');

			var holderLeftDiv = $("#left-container");
			var followersGraph = $('#followers-history')

			if(summaryDiv.is(":hidden")){
				holderLeftDiv.removeClass("col-xs-12 col-sm-12 col-md-10 col-lg-10");
				holderLeftDiv.toggleClass('col-xs-12 col-sm-12 col-md-5 col-lg-5')
				summaryDiv.show();
				websiteDiv.show();
				followersDiv.show();
				$(competitionDiv).scrollTop(0);
			} else {
				$('body').scrollTop(0);
				
				// Fade out function
				$(summaryDiv).fadeOut( "normal");
				$(websiteDiv).fadeOut( "normal");
				$(followersDiv).fadeOut( "normal");

				// Managing classes
				holderLeftDiv.toggleClass('col-xs-12 col-sm-12 col-md-5 col-lg-5')
				holderLeftDiv.addClass("col-xs-12 col-sm-12 col-md-10 col-lg-10");
			}
		}
		// Document ready
		$(document).ready(function(){
  		  // Checking if there are tips
  		  numberOfTips = document.getElementsByClassName("tip-card").length;
  		  console.log(numberOfTips)
  		  if(numberOfTips == 0){
  		  	noneDivText = document.getElementById('tips-div');
  		  	var noneDiv = document.createElement('p');
  		  	var noneText = document.createTextNode('No Tips');
  		  	noneDiv.classList.add("text-center");
  		  	noneDiv.appendChild(noneText);
  		  	noneDivText.appendChild(noneDiv);
  		  } 
		  // Ajac Functions

		  // Showing setup modal
		  $('#setup-modal').modal('show');
		  // Setup Form
		  $('#setup-connect-form').on('submit', function(event){

		    // Getting and creating divs
		    var bodyDiv = document.getElementById('setup-body');
		    var loaderDiv = document.createElement('div');
		    loaderDiv.setAttribute('id', 'loader-setup')

		    // Adding loader class
		    loaderDiv.classList.add('loader');

		    // Appending div
		    bodyDiv.appendChild(loaderDiv);

		    // Creating delay for submit
		    var delay = 2500;
		    $.ajax({
		    	type : 'POST',
		    	url : '/setup-update',
		    	data : {
		    		website_name : $('#website-name').val(),
		    		website_url : $('#website-url').val()
		    	},
		    	success: function (value) {
		    		setTimeout(function() {
		          // When value is returned I am deleting div
		          loaderDiv.remove();

		          $('#setup-form-message').html(value)
		          if(value == "success"){
		          	location.reload();
		          }
		      }, delay);
		    	}
		    });
		    event.preventDefault();
		});

		  // Connecting website form
		  $('#connect-website-form').on('submit', function(event){
		  	$.ajax({
		  		type : 'POST',
		  		url : '/connect-website',
		  		data : {
		  			website_name : $('#website-name').val(),
		  			website_url : $('#website-url').val()
		  		},
		  		success: function (value) {
		        // var evalue = JSON.parse(value);
		        if(value == "success"){
		        	location.reload();
		        } else if (value == 'failed') {
		        	$('#connect-website-form-message').html(value)
		        }
		    }
		});
		  	event.preventDefault();
		  });
		    // Disconnecting website
		    $('#disconnect-website').click(function() {
		    	$.ajax({
		    		type: 'POST',
		    		url : '/disconnect-website',
		    		success: function (value) {
		    			if(value == "success"){
		    				location.reload();
		    			}
		    		} 
		    	});
		    });

		  // Submiting niche
		  $('#niche-submit').on('submit', function(event){
		  	$.ajax({
		  		type : 'POST',
		  		url : '/post-niche',
		  		data : {
		  			niche_text : $('#niche-text').val(),
		  		},
		  		success: function (value) {
		  			if(value == "success"){
		  				location.reload();
		  			}
		  		}
		  	});
		  	event.preventDefault();
		  });

		  // Disconnecting niche
		  $('#disconnect-niche-competition').click(function() {
		  	$.ajax({
		  		type: 'POST',
		  		url : '/disconnect-niche',
		  		success: function (value) {
		  			if(value == "success"){
		  				location.reload();
		  			}
		  		} 
		  	});
		  });

		  // Find competition refresh
		  $('#find-competition-refresh').click(function() {
		    $.ajax({
		      type: 'POST',
		      url : '/refresh-search',
		      success: function (value) {
		        if(value == "success"){
		          location.reload();
		        }
		      } 
		    });
		  });
		  
		  // Find followers ref`resh
		  $('#find-followers-refresh').click(function() {
		  	$.ajax({
		  		type: 'POST',
		  		url : '/refresh-followers',
		  		success: function (value) {
		  			if(value == "success"){
		  				location.reload();
		  			}
		  		} 
		  	});
		  });
		});
		// Removing tip
		function dismissTip(e){
			tipDiv = $(e).parent();
			$(tipDiv).fadeOut( "normal", function() {
		    // Fade out complete
		    $(e).parent().remove();
		});
			numberOfTips = document.getElementsByClassName("tip-card").length;
			element = document.getElementById('sidebar-status');
			tipsNoneDifference = element.childNodes.length - numberOfTips
			console.log('tips dif: ' + tipsNoneDifference)
			console.log('element length: : ' + element.childNodes.length)
			console.log('numberOfTips: : ' + numberOfTips)
			if(numberOfTips == 1 || numberOfTips == 0){
				noneDivText = document.getElementById('tips-div');
				var noneDiv = document.createElement('p');
				var noneText = document.createTextNode('No Tips');
				noneDiv.appendChild(noneText);
				noneDivText.appendChild(noneDiv);
			} 

		}

	</script>
{% endblock %}
